#wss{
    opacity:0;
    -webkit-transition:opacity 1.0s cubic-bezier(.24,.57,.91,.74) 0s;
    transition:opacity 1.0s cubic-bezier(.24,.57,.91,.74) 0s;
    }

body { 
    margin:0px; background:#999; 
}
/* indholdet i containeren (menubaren) */
 .container {
	margin: 0%;
	position: absolute;
	top: 80px;
	left: 10%;
	display: flex;
}
.roundedimages {
	border-radius: 50%;
	padding: 3px;
}
.hjemtekst {
	position: absolute;
	top: -10px;
	left: 140%;
	font-size: 1.8em;
	color: #eab44c
} 
.facebooktekst {
	position: absolute;
	top: 60px;
	left: 140%;
	font-size: 1.8em;
	color: #eab44c
}
.facebookbilled {
	position: absolute;
	top: 75px;
	left: 3%;
}
.contacttekst {
	position: absolute;
	top: 135px;
	left: 140%;
	font-size: 1.8em;
	color: #eab44c;
}
.contactbilled {
	position: absolute;
	top: 145px;
	left: 7%;
}
.rutetekst {
	position: absolute;
	top: 207px;
	left: 140%;
	font-size: 1.8em;
	color: #eab44c;
}
.rutebilled {
	position: absolute;
	top: 230px;
	left: 30%;

}
.ingenfarve {
	text-decoration: none;
	color: #eab44c;
}
.ingenFarve {
	color: #eab44c;
	text-decoration: none;
	text-decoration: underline;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sprogtekst{
	position: absolute;
	top: 300px;
	left: 77px;
	font-size: 1.8em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #eab44c;
}
.underline {
	position: absolute;
	top: 320px;
	left: -44px;
	font-size: 1.8em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #eab44c;
}
.danskflag {
	position: absolute;
	top: 400px;
	left: -10%;
}
.franskflag {
	position: absolute;
	top: 400px;
	left: 110%;
}
.britiskflag {
	position: absolute;
	top: 400px;
	left: 230%;
}
.tyskflag {
	position: absolute;
	top: 400px;
	left: 350%;
}
.roundedflag {
	border-radius: 75%;
	padding: 3px;
}
.milmustekst {
	position: absolute;
	top: 460px;
	left: 32px;
	font-size: 1.2em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #eab44c;
}
/* array i container */
#wss{
	float:left;
	width:250px;
	height:20px;
	margin-left: 12px;
	font-size:36px;
    color: #eab44c;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 0px;
}
/* knappen til container */
div#topbar > #sections_btn_holder{
	float:left;
	width:100x;
	height:46px;
	padding-top:165px;
	margin-left: 0px;
	z-index: 20000;
	
}
div#topbar > #sections_btn_holder > button{ background: #eab44c;
border: 10px solid #000;
color: #000;
text-decoration: none;
font-size: 16px;
box-sizing: border-box;
padding-left: 10px;
padding-right: 10px;
margin-left: 0px;
}

div#topbar > #sections_panel{
	position:absolute;
	height:300px;
	width:350px;
	background:#000;
	top:200px;
	left:0px;
	border-radius: 0px 8px 8px 0px;
	overflow:hidden;
	z-index:10000;
	transition: height 0.3s cubic-bezier(.24,.57,.91,.74) 0s;
}
div#topbar > #sections_panel > div{
	background: #2f2924;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-left: 20px;
	height:540px; /* value skal være mindre en Js value i function - kan ændre hvis menu skal være større */
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 0px;
}